.App {
  text-align: center;
}

.container, .container-fluid {
  margin: 20px;
}  
.table-container{
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #007BFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  border-collapse: collapse;
  table-layout: auto;
  width: 50px;  
  color: #61dafb;
  text-align: center;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
}

.th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  
}

.tr:nth-child(even){background-color: #f2f2f2}

.th {
  background-color: #E5F7FF;

  text-align: center;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
